<div id="page_wrapper">
  <h1 class="title"><%= @post.title %></h1>
  <p class="body"><%= @post.body %></p>
  <p class="date">Submitted on <%= @post.created_at %>
    <% if user_signed_in? %>
      | <%= link_to "Edit", edit_post_path(@post) %>
      | <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %></p>
    <% end %>
  <div id="comments">
    <h2><%= pluralize(@post.comments.count, "comment") %></h2>
    <%= render @post.comments %>

    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
  </div>
</div>
